<!DOCTYPE HTML>
<html lang="fr">
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta name="Description" content="Erwan Le Poder">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="header" class="wrapper">

        <!-- Logo -->
        <div id="logo">
            <h1>Erwan Le Poder</h1>
            <p>Expert technique web</p>
        </div>

    </section>

    <!-- Intro -->
    <section id="intro" class="wrapper style1">
        <div class="title">Présentation</div>
        <div class="container">
            <p class="style2">Directeur technique chez Myloby</p>
        </div>
    </section>

    <!-- Main -->
    <section id="main" class="wrapper style2">
        <div class="title">Compétences</div>
        <div class="container">
            <section id="features">
                <div class="feature-list">
                    <div class="row">
                        <div class="col-6 col-12-medium">
                            <section>
                                <h3 class="icon solid fa-check">Gestion de projet Forfait / Régie</h3>
                                <p><a href="https://www.scrum.org/user/537747">Scrum Master - Certification PSM 1</a></p>
                            </section>
                        </div>
                        <div class="col-6 col-12-medium">
                            <section>
                                <h3 class="icon solid fa-wrench">Node.js / JavaScript</h3>
                                <p>Fullstask</p>
                            </section>
                        </div>
                        <div class="col-6 col-12-medium">
                            <section>
                                <h3 class="icon solid fa-sync">Management équipe technique</h3>
                                <p>Formation</p>
                            </section>
                        </div>
                        <div class="col-6 col-12-medium">
                            <section>
                                <h3 class="icon solid fa-wrench">Database</h3>
                                <p>SQL / NO SQL</p>
                            </section>
                        </div>
                        <div class="col-6 col-12-medium">
                            <section>
                                <h3 class="icon fa-comment">Relation Client</h3>
                                <p>Conseil & accompagnement</p>
                            </section>
                        </div>
                        <div class="col-6 col-12-medium">
                            <section>
                                <h3 class="icon solid fa-cog">Devops</h3>
                                <p>AWS</p>
                            </section>
                        </div>
                    </div>
                </div>
                <!--								<ul class="actions special">
                                                    <li><a href="#" class="button style1 large">Get Started</a></li>
                                                    <li><a href="#" class="button style2 large">More Info</a></li>
                                                </ul>-->
            </section>

        </div>
    </section>

    <!-- Highlights -->
    <section id="highlights" class="wrapper style3">
        <div class="title">Projets Perso</div>
        <div class="container">
            <div class="row aln-center">
                <div class="col-4 col-12-medium">
                    <section class="highlight">
                        <a rel="noreferrer" aria-label="Beast of Burden" href="http://beastofburden.erwanlepoder.fr" target="_blank" class="image featured"><img
                                    src="images/bestofburden.jpg" alt="Beast of Burden"/></a>
                        <h3><a rel="noreferrer" aria-label="Beast of Burden" href="http://beastofburden.erwanlepoder.fr" target="_blank">Beast of burden</a></h3>
                        <!--									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                                                            <ul class="actions">
                                                                <li><a href="#" class="button style1">Learn More</a></li>
                                                            </ul>-->
                    </section>
                </div>
                <div class="col-4 col-12-medium">
                    <section class="highlight">
                        <a rel="noreferrer" aria-label="Bottom Less God" href="http://bottomlessgod.erwanlepoder.fr" target="_blank" class="image featured"><img
                                    src="images/bottomlessgod.JPG" alt="Bottom Less God"/></a>
                        <h3><a rel="noreferrer" aria-label="Bottom Less God" href="http://bottomlessgod.erwanlepoder.fr" target="_blank">Bottom Less God</a></h3>
                        <!--									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                                                            <ul class="actions">
                                                                <li><a href="#" class="button style1">Learn More</a></li>
                                                            </ul>-->
                    </section>
                </div>
                <div class="col-4 col-12-medium">
                    <section class="highlight">
                        <a rel="noreferrer" aria-label="Time Bomb" href="https://timebomb.erwanlepoder.fr" target="_blank" class="image featured"><img
                                    src="images/timebomb.jpeg" alt="TimeBomb"/></a>
                        <h3><a rel="noreferrer" aria-label="Time Bomb" href="https://timebomb.erwanlepoder.fr" target="_blank">Time Bomb</a></h3>
                        <!--									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                                                            <ul class="actions">
                                                                <li><a href="#" class="button style1">Learn More</a></li>
                                                            </ul>-->
                    </section>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer" class="wrapper">
        <div class="title">Me contacter</div>
        <div class="container">
            <!--						<header class="style1">
                                        <h2>Ipsum sapien elementum portitor?</h2>
                                        <p>
                                            Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.<br />
                                            Nam pharetra laoreet imperdiet volutpat etiam feugiat.
                                        </p>
                                    </header>-->
            <div class="row">
                <div class="col-12 col-12-medium">

                    <!-- Contact -->
                    <section class="feature-list small">
                <div class="row">
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-home">Paris, France</h3>

                                </section>
                            </div>
                            <div class="col-6 col-12-small">
                                <section>
                                    <h3 class="icon solid fa-comment">Social</h3>
                                    <p>
                                        <a rel="noopener" href="https://www.linkedin.com/pub/erwan-le-poder/59/67a/6a0"
                                           aria-label="Link In Erwan Le Poder" target="_blank">Linked In </a>
                                    </p>
                                </section>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div id="copyright">
                <ul>
                    <li>Erwan Le Poder</li>
                </ul>
            </div>
        </div>
    </section>

</div>
</body>
</html>