<!DOCTYPE html>
<html>
<head>
  <title>Erwan Le Poder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!--FAVICON-->
  <link rel="shortcut icon" href="images/favicon/favicon.ico"/>
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="js/script.js"></script>

</head>
<body>
<div class="container-fluid my-container">
  <div class="row main">
    <div class="col-xs-12 col-sm-6 col-md-6 logo">
      <img class="image" src="img/logo.png">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 text">
      <h1>Erwan Le Poder</h1>
      <h2>Chef de Projet Web</h2>
      <h2>Web Developer</h2>
      <ul class="my-list">
        <il class="my-item"><a href="https://www.linkedin.com/pub/erwan-le-poder/59/67a/6a0" target="_blank">Linked In </a></il>
        <il class="my-item"> - </il>
        <il class="my-item"><a href="mailto:erwan.le.poder@gmail.com" target="_top">erwan.le.poder@gmail.com</a></il>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
